@model PRS_System.Models.Setting.EdituserdataModel
@using PRS_System.Controllers
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="th">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/ui_form.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/js/EsignatureCanvas.js" />
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="~/js/EsignatureCanvas.js"></script>*@
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="~/js/min/plugins.min.js"></script>
    <script src="~/js/min/main.min.js"></script>
    <script src="~/js/addinput.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>

</head>


<body>

    <!-- MAIN -->
    <div class="main-content">
        <div class="fluid-container">
            <div>
                <div class="row">
                    <div class="w3-container w3-light-blue w3-hover-text-light-grey">
                        <h1>Add New User</h1>
                    </div>
                </div>
                <!-- Form -->
                <form class="w3-container w3-card-4 w3-light-grey" id="user-form" method="post" enctype="multipart/form-data" asp-action="EditUserdata" asp-controller="Adminsetting" onsubmit="AJAXSubmit(this); return false;">
                    <div class="page-section" id="add">
                        <fieldset class="col-md-4 col-sm-6">
                            <div class="row">

                                <label>ID ผู้ใช้</label><br>
                                <input type="text" asp-for="UserID" placeholder="Ex.sfcfrc" size="20" required><br><br>
                                <label>ชื่อ นามสกุล</label><br>
                                <input type="text" asp-for="Full_NameThai" placeholder="Ex.ชิโนภาส เมืองไทย" size="20" required><br><br>
                                <label>ตำแหน่งปฏิบัติงาน</label><br>
                                <select asp-for="User_Type_Operation" required>
                                    <option value="นักวิชาการเงินและบัญชี ชำนาญการ">นักวิชาการเงินและบัญชี ชำนาญการ</option>
                                </select><br><br>

                                <label>ตำแหน่งบริหาร</label><br>
                                <select asp-for="User_Type_Magnement">
                                    <option value="">เลือกตำแหน่ง</option>
                                    <option value="หัวหน้าภาควิชา">หัวหน้าภาควิชา</option>
                                    <option value="หัวหน้าฝ่ายสนับสนุนงานกลาง">หัวหน้าฝ่ายสนับสนุนงานกลาง</option>
                                    <option value="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา">หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา</option>
                                    <option value="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์">ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์</option>
                                    <option value="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีและสื่อสาร">ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีและสื่อสาร</option>
                                    <option value="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา">หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา</option>
                                    <option value="นักวิเคราะห์นโยบายและแผนชำนาญการ">นักวิเคราะห์นโยบายและแผนชำนาญการ</option>
                                    <option value="หัวหน้าสำนักงานเลขานุการ">หัวหน้าสำนักงานเลขานุการ</option>
                                    <option value="นักวิเคราะห์นโยบายและแผนชำนาญการ">นักวิเคราะห์นโยบายและแผนชำนาญการ</option>
                                    <option value="กรรมการและเลขานุการ">กรรมการและเลขานุการ</option>
                                    <option value="ประธานกรรมการดำเนินงานฯ">กรรมการและเลขานุการฯ</option>
                                </select><br><br>


                                <br><br>
                                <label>Email (*Gmail)</label>
                                <br>
                                <input type="text" asp-for="Email"  required />
                                <br><br>
                                <label>คำนำหน้าชื่อ</label><br>
                                <select asp-for="Prefix_NameThai" required>
                                    <option value="นาย">นาย</option>
                                    <option value="นาง">นาง</option>
                                    <option value="นาง">นางสาว</option>
                                </select>
                                <br><br>

                                <label>หมวดหมู่ผู้ใช้</label><br>
                                <input asp-for="Category" class="category2" type="radio" value="Admin">
                                <label>Admin</label>
                                <input asp-for="Category" class="category3" type="radio" value="User" >
                                <label>User</label><br><br>

                                <label>ลายเซ็น</label><br><br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="sig-canvas" width="620" height="160" style="border-style:dashed">
                                            Get a better browser, bro.
                                        </canvas>
                                    </div>
                                    <input type="hidden" asp-for="ESignature" />
                                </div>

                                <label>สถานะผู้ใช้</label><br>
                                <input asp-for="Status" class="status2" type="radio" value="Active" >
                                <label>Active</label>
                                <input asp-for="Status" class="status3" type="radio" value="Inactive">
                                <label>Inactive</label><br><br>

                                <button id="clearBtn" type="button">Clear signature</button>
                                <button type="submit" id="submitBtn">Submit</button>

                            </div> <!-- .contact-form -->
                        </fieldset>
                    </div>
                </form>

                <hr>

                @*<div class="row" id="footer">
                        <div class="col-md-12 text-center">
                            <p class="copyright-text">Faculty Science &copy; Kasatsart University Sriracha campas</p>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>



</body>

</html>
<script>
    window.onload = function () {
        var statusinput =@(Model.Status == "Active" ?"status2":"status3");
        var categoryinput =@(Model.Category == "Admin" ? "category2" : "category3");
        document.getElementsByClassName(statusinput).checked = true;
        document.getElementsByClassName(categoryinput).checked = true;
    }


</script>
<script>
    $(document).ready(function () {
        
        (function () {
            window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function (callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            var canvas = document.getElementById("sig-canvas");
            var ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 4;

            var drawing = false;
            var mousePos = {
                x: 0,
                y: 0
            };
            var lastPos = mousePos;

            canvas.addEventListener("mousedown", function (e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function (e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function (e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Add touch event support for mobile
            canvas.addEventListener("touchstart", function (e) {

            }, false);

            canvas.addEventListener("touchmove", function (e) {
                var touch = e.touches[0];
                var me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function (e) {
                mousePos = getTouchPos(canvas, e);
                var touch = e.touches[0];
                var me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function (e) {
                var me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Set up the UI

            //var sigText = document.getElementById("sig-dataUrl");
            //var sigImage = document.getElementById("sig-image");
            var clearBtn = document.getElementById("clearBtn");
            var submitBtn = document.getElementById("submitBtn");
            var inputsig = document.getElementById("ESignature");
            $(clearBtn).click(function () {
                clearCanvas();
            });
            //clearBtn.addEventListener("click", function (e) {
            //    clearCanvas();
            //    sigText.innerHTML = "Data URL for your signature will go here!";
            //    sigImage.setAttribute("src", "");
            //}, false);
            //submitBtn.addEventListener("click", function (e) {
            //    var dataUrl = canvas.toDataURL();
            //    sigText.innerHTML = dataUrl;
            //    sigImage.setAttribute("src", dataUrl);
            //    console.log(dataUrl);

            //}, false);
            //$("#user-form").submit(function () {
            //    var sigurl = canvas.toDataURL();
            //    $(inputsig).val(sigurl);
            //});

        })();

    })
</script>
@section Scripts{
    <script>

    async function AJAXSubmit(oFormElement) {
        try {
            var sigurl = document.getElementById("sig-canvas").toDataURL();
            $("#ESignature").val(sigurl);
                var form = document.getElementById("user-form");
                const url = "@Url.Action("EditUserdata", "AdminSetting")";
                const formData = new FormData(form);

                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {

                        console.log(data);
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href ="@Url.Action("Showlistuser", "AdminSetting")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
}


