@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "หน้าแรก";
}

<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="~/css/NewsStyle.css">
    <title>@ViewData["Title"] - ระบบจัดซื้อจัดจ้าง</title>
</head>

<body>
    <div class="nav">
        <div>
            <img class="img-logo" src="~/img/information/Logo.jpg" alt="">
        </div>

        <div class="toggle">
            <a href="#">
                <ion-icon name="menu-outline"></ion-icon>
            </a>
        </div>

        <div class="nav-list">
            <div class="box line">
                <a asp-controller="Information" asp-action="Index">Home</a>
            </div>
            <div class="box line">
                <a asp-controller="Login" asp-action="Index">Login</a>
            </div>
        </div>
    </div>

    <div class="backgroud-News">
        <div class="medie-show">
            @*<img class="img-size" src="~/img/information/1.jpg" alt="">*@
        </div>

    </div>

    <div class="container-News">
        <div class="News">
            <div class="tab-header">
                <div class="actives tab-desc">
                    <h3>ขอบเขตของงานประกวดราคาอิเล็กทรอนิกส์</h3>
                </div>
                <div class="tab-desc">
                    <h3>ข่าวประกวดราคา</h3>
                </div>
                <div class="tab-desc">
                    <h3>ประกาศผู้ชนะ</h3>
                </div>
                <div class="tab-desc">
                    <h3>เอกสารที่เกี่ยวข้อง</h3>
                </div>
            </div>

            <div class="tab-indicator"></div>
            <div class="tab-body">
                <div class="actives tab-desc">
                    <p>
                        <a href="https://sci.src.ku.ac.th/wp-content/uploads/2021/11/ขอบเขตของงานประกวดราคาอิเล็กทรอนิกส์-1-1.pdf">
                            ประกวดราคาซื้อชุดครุภัณฑ์การเรียนการสอนสำหรับวิเคราะห์หาปริมาณฟอสเฟตในตัวอย่างทางสิ่งแวดล้อม ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี จำนวน 1 ชุด ด้วยวิธีประกวดราคาอิเล็กทรอนิกส์
                        </a>
                        <hr>
                        <a href="https://sci.src.ku.ac.th/wp-content/uploads/2021/11/ขอบเขตของงานประกวดราคาอิเล็กทรอนิกส์-2.pdf">
                            ประกวดราคาซื้อชุดจัดเก็บอุปกรณ์และเครื่องแก้วประจำห้องปฏิบัติการทางสิ่งแวดล้อม
                            ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี จำนวน 1 ชุด ด้วยวิธีประกวดราคาอิเล็กทรอนิกส์
                        </a>
                        <hr>
                        <a href="https://sci.src.ku.ac.th/wp-content/uploads/2021/11/ขอบเขตของงานประกวดราคาอิเล็กทรอนิกส์-3.pdf">
                            ประกวดราคาซื้อชุดครุภัณฑ์การเรียนการสอนสำหรับตรวจวัดคุณภาพทางสิ่งแวดล้อมภาคสนาม
                            ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี จำนวน 1 ชุด ด้วยวิธีประกวดราคาอิเล็กทรอนิกส์
                        </a>
                    </p>
                    
                </div>
                <div class="tab-desc">
                    <h2>Lorem2 ipsum, dolor sit amet consectetur adipisicing elit. Quas, modi.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nisi corporis ab qui deserunt
                        quas, natus facilis doloremque atque commodi eius! Ullam maiores quae velit perferendis
                        molestias cumque molestiae error.
                    </p>
                </div>
                <div class="tab-desc">
                    <h2>Lorem3 ipsum, dolor sit amet consectetur adipisicing elit. Quas, modi.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nisi corporis ab qui deserunt
                        quas, natus facilis doloremque atque commodi eius! Ullam maiores quae velit perferendis
                        molestias cumque molestiae error.
                    </p>
                </div>
                <div class="tab-desc">
                    <h2>Lorem4 ipsum, dolor sit amet consectetur adipisicing elit. Quas, modi.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nisi corporis ab qui deserunt
                        quas, natus facilis doloremque atque commodi eius! Ullam maiores quae velit perferendis
                        molestias cumque molestiae error.
                    </p>
                </div>
            </div>

        </div>

        @*<div class="Footer">
            <div class="tab-links">

            </div>
            </div>*@

    </div>





</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(function () {
        $(".toggle").on("click", function () {
            if ($(".nav-list").hasClass("active")) {
                $(".nav-list").removeClass("active");
                $(this).find("a").html("<ion-icon name='menu-outline'></ion-icon>");

            } else {
                $(".nav-list").addClass("active")
                $(this).find("a").html("<ion-icon name='close-outline'></ion-icon>");
            }
        })
    })

</script>

<script>
    let tabHeader = document.getElementsByClassName("tab-header")[0];
    let tabIndicator = document.getElementsByClassName("tab-indicator")[0];
    let tabBody = document.getElementsByClassName("tab-body")[0];
    let tabsPane = tabHeader.getElementsByClassName("tab-desc");

    for (let i = 0; i < tabsPane.length; i++) {
        tabsPane[i].addEventListener("click", function () {
            tabHeader.getElementsByClassName("actives")[0].classList.remove("actives");
            tabsPane[i].classList.add("actives");
            tabBody.getElementsByClassName("actives")[0].classList.remove("actives");
            tabBody.getElementsByClassName("tab-desc")[i].classList.add("actives");

            tabIndicator.style.left=`calc(calc(100% / 4) * ${i})`;
        });
    }


</script>


</html>