*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	float: right;
	padding-top: 16px;
}

.content-body {
	display: flex;
	justify-content: center;
}

.content-filed {
	display: flex;
	width: 100%;
	min-height: 500px;
	max-width: 800px;
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px 5px;
	flex-direction: column;
}

.container-bar {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.container-color {
	color: #000;
	background-color: #fff;
}

.tab-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.tab-button:hover {
	background-color: #ccc;
}

.tab-blue {
	color: #fff !important;
	background-color: #000C66 !important;
}

.tabcontent {
	-webkit-animation: fadeEffect 1s;
}

.container-inner {
	margin-top: 50px;
}

.container-description {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	color: #404648;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
	height: 0px;
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}*/

a {
	text-decoration: none;
}
a:hover{
	color: #000C66;
}