.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    table-layout: fixed;
    width: 200px;
    font-family: 'Kanit', sans-serif;
}
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #191b31;
    color: rgb(255, 255, 255);
    text-align: center;
}

  /* font */
  .div{
    font-size:15px
  }

/* button */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
}

.green {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

    .green:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }



.yellow {
    background-color: #f5c906;
    color: white;
    border: 2px solid #f5c906;
}

    .yellow:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }


.red {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
}

    .red:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }

.blue {
    background-color: #01dbf8;
    color: white;
    border: 2px solid #01dbf8;
}

    .blue:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
.teal {
    background-color: #215a62;
    color: white;
    border: 2px solid #215a62;
}

    .teal:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
.purple {
    background-color: #750679;
    color: white;
    border: 2px solid #750679;
}

    .purple:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
.dropdown-item {
    background-color: dimgray;
    color: white;
}

    .dropdown-item:hover {
        background-color: gray;
        color: white;
    }
